<!DOCTYPE html>
<html>
<head>
    <title>{{ key }} = {{ value }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .centered {
            text-align: center;
            font-size: 30vw;            
        }

        .full-height {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="full-height">
        <h1 class="centered">{{ value }}</h1>
    </div>
</body>
</html>